@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

$image-width: 100px;
$image-height: 100px;
$image-margin: 20px;
$num-images: 4;
$animation-duration: 10s;
$total-width: ($image-width + $image-margin) * $num-images;

* {
  font-family: "Inter", sans-serif;
  font-style: normal;
  scroll-padding-top: 50px;
}
header {
  background-image: url("../images/jayvee-banner.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: 768px) {
      display: block;
    }
  }

  .icons {
    a {
      margin-right: 15px;
      object-fit: contain;
    }
  }

  .banner-text {
    height: 93vh;
    display: flex;
    align-items: center;
    justify-content: center;

    // @media (min-width: 568px) {
    //   font-size: 4rem;
    // }
  }
  .header-title {
    @media (min-width: 1200px) {
      font-size: 4rem;
    }

    @media (min-width: 996px) {
      font-size: 3rem;
    }
  }

  p {
    font-size: 2rem;
  }

  .cv-file {
    background: #ff6600;

    @media (min-width: 1200px) {
      margin-bottom: 15%;
    }
  }

  .cv-file:hover {
    background: #3366cc;
  }

  img {
    @media (min-width: 996px) {
      padding-top: 25px;
    }
  }

  @media (min-width: 1200px) {
    padding-top: 20px;
  }
}

body {
  background-color: #f5f5f5;

  .nav-menu {
    background-color: #3366cc;
  }

  .me {
    color: #ff6600;
  }
}

#hire_me {
  background-color: #3366cc;
  height: 40vh;
  color: white;

  a {
    background-color: #ff6600;
    margin-top: 15px;
  }
}

@keyframes moveGroup {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-$total-width);
  }
}

.move-image-container {
  position: relative;
  width: 100%;
  margin: 10% 0 10% 0;
  height: $image-height;

  overflow: hidden;

  .image-group {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 200%; // Double the width to accommodate two sets of images
    animation: moveGroup $animation-duration linear infinite;

    img {
      width: $image-width;
      height: $image-height;
      margin-right: $image-margin;
      object-fit: contain;
    }
  }
}

footer {
  height: 1250px;
  width: 100%;

  @media (min-width: 992px) {
    height: 550px;
  }

  .contact {
    width: 80%;
    display: block;
    margin: auto;

    @media (min-width: 992px) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 60%;
    }
  }

  .gmap {
    display: block;

    @media (min-width: 992px) {
      position: absolute;
    }
  }

  .mail {
    font-size: small;
  }

  .get-touch-holder {
    border-left: 1% solid black;
  }

  .get-in-touch {
    @media (max-width: 768px) {
      padding: 20px 0 20px 0;
    }
  }

  .foot_nav {
    background: #3366cc;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
}

.totop {
  background-color: #ff6600;
  font-size: 30px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 6px 0 0;
  opacity: 1;
  z-index: 5000;
  text-align: center;
  display: none;
  text-decoration: none !important;
  color: #fff;
  line-height: 1;
  width: 66px;
  height: 66px;
  transition: all 0.25s ease-in-out;

  &:hover {
    opacity: 0.8;
    color: #fff;
  }

  i {
    font-size: 30px;
    line-height: 1;
    display: block;
  }

  span {
    display: block;
    font-size: 10px;
    text-transform: uppercase;
  }
}
