@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  font-family: "Inter", sans-serif;
  font-style: normal;
  scroll-padding-top: 50px;
}

header {
  background-image: url("../images/jayvee-banner.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
header .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  header .navbar {
    display: block;
  }
}
header .icons a {
  margin-right: 15px;
  -o-object-fit: contain;
     object-fit: contain;
}
header .banner-text {
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1200px) {
  header .header-title {
    font-size: 4rem;
  }
}
@media (min-width: 996px) {
  header .header-title {
    font-size: 3rem;
  }
}
header p {
  font-size: 2rem;
}
header .cv-file {
  background: #ff6600;
}
@media (min-width: 1200px) {
  header .cv-file {
    margin-bottom: 15%;
  }
}
header .cv-file:hover {
  background: #3366cc;
}
@media (min-width: 996px) {
  header img {
    padding-top: 25px;
  }
}
@media (min-width: 1200px) {
  header {
    padding-top: 20px;
  }
}

@media (max-width: 992px) {
  .main-menu .nav-link {
    border-bottom: 1px solid white;
    text-align: center;
  }
}

body {
  background-color: #f5f5f5;
}
body .nav-menu {
  background-color: #3366cc;
}
body .me {
  color: #ff6600;
}

#hire_me {
  background-color: #3366cc;
  height: 40vh;
  color: white;
}
#hire_me a {
  background-color: #ff6600;
  margin-top: 15px;
}

@keyframes moveGroup {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-480px);
  }
}
.move-image-container {
  position: relative;
  width: 100%;
  margin: 10% 0 10% 0;
  height: 100px;
  overflow: hidden;
}
.move-image-container .image-group {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  animation: moveGroup 10s linear infinite;
}
.move-image-container .image-group img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  -o-object-fit: contain;
     object-fit: contain;
}

footer {
  width: 100%;
}
footer .contact {
  width: 80%;
  display: block;
  margin: auto;
}
@media (min-width: 992px) {
  footer .contact {
    transform: translate(-50%, -50%);
    width: 35%;
  }
}
footer .get-touch-holder {
  border-left: 1% solid black;
}
@media (max-width: 768px) {
  footer .get-in-touch {
    padding: 20px 0 20px 0;
  }
}
footer .foot_nav {
  background: #3366cc;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.totop {
  background-color: #ff6600;
  font-size: 30px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 6px 0 0;
  opacity: 1;
  z-index: 5000;
  text-align: center;
  display: none;
  text-decoration: none !important;
  color: #fff;
  line-height: 1;
  width: 66px;
  height: 66px;
  transition: all 0.25s ease-in-out;
}
.totop:hover {
  opacity: 0.8;
  color: #fff;
}
.totop i {
  font-size: 30px;
  line-height: 1;
  display: block;
}
.totop span {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
}/*# sourceMappingURL=style.css.map */